<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/pinterest" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter Name ">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="john123@g.co ">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="******* ">
        </div>
        <div>
            <label for="gender">Gender</label>
            <input type="radio" name="gender" id="Male" value=" Male">
            <label for="Male">Male</label>
            <input type="radio" name="gender" id=" Female" value="Female">
            <label for="Female">Female</label>
        </div>

        <div>
            <label for="">Age</label>
            <input type="text" name="age" placeholder="18">
        </div>
        <button>Submit</button>
    </form>
</body>

</html>