<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <form action="/blog" method="post" class="w-full max-w-[540px] mx-auto my-5">
        <div class="my-2 w-full">
            <label for="title">Title</label>
            <input type="text" id="name" name="title" placeholder="Enter Title"
                class="outline-0 border-[1px] rounded-[5px] p-1 w-full">
        </div>
        <div class="my-2">
            <label for="description">Description</label>
            <input type="text" id="description" name="description"
                class="outline-0 border-[1px] rounded-[5px] p-1 w-full">
        </div>

        <button type="submit" class="py-1 px-2.5 w-full bg-amber-300 outline-0 rounded-[10px]">Submit</button>
    </form>

    <div class="w-full max-w-[540px] mx-auto my-5">
        <%if(files.length> 0){%>
            <%files.map(function(file) {%>
                <div class="flex items-center gap-2">
                    <h1>
                        <%= file%>
                    </h1>
                    <a class="text-blue-300" href='/files/<%= file%>'>Readmore</a>
                </div>
                <button class="py-1 text-[12px] px-2.5 bg-amber-300 outline-0 rounded-[10px]">Rename</button>
                <%})%>
                    <p>
                        <!-- <%=files.length%> -->
                    </p>
                    <%} else {%>
                        <h1>no file found</h1>
                        <%}%>


    </div>

    <!-- <a class="text-blue-300" href='/files/123'>Readmore</a> -->


</body>

</html>