<div class="w-[300px] p-3 border rounded-[10px]">
    <img class="w-[200px]" src=<%=product.image %> alt="">
    <p>
        <%= product.title %>
    </p>
    <p>
        $<%= product.price %>
    </p>
    <p>
        <%= product.rating.rate %>
    </p>
</div>