<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="flex flex-wrap w-full gap-4 justify-center max-w-[960px] mx-auto ">
        <% products.map((product)=> { %>
            <div class="w-[300px] p-3 border rounded-[10px]">
                <img class="w-[200px]" src=<%=product.image %> alt="">
                <p>
                    <%= product.title %>
                </p>
                <p>
                    $<%= product.price %>
                </p>
            </div>
            <% }) %>
    </div>
</body>

</html>