<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%if(info.length> 0){%>
        <%info.map((data)=> {%>
            <h2>
                <%= data.title%>
            </h2>
            <p>
                <%= data.des%>
            </p>
            <%})%>
                <%}else{%>
                    <h2>No data available</h2>
                    <%}%>
</body>

</html>