<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <form action="/adminPage">
        <div class="my-2">
            <label for="name">Name</label>
            <input type="text" class=" outline-0 border-[1px] rounded-[5px]">
        </div>
        <div class="my-2">
            <label for="email">Email</label>
            <input type="email" class=" outline-0 border-[1px] rounded-[5px]">
        </div>
        <div class="my-2">
            <label for=" name">Password</label>
            <input class="outline-0 border-[1px] rounded-[5px]" type="password">
        </div>
        <button class="p-3.5 py-1.5 bg-amber-300 rounded-[10px]" type="submit">Submit</button>
    </form>
</body>

</html>